[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
#[requires]
selenium = "*"
#python_version = "3.8"
webdriver-manager = "*"
pytest-xdist = "*"
